__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.pt
*.pth
logs/
checkpoints/
models/best_model.pt
.DS_Store
Thumbs.db
.venv/
env/
*.egg-info/
pip-wheel-metadata/
*.log
*.tmp
*.txt
data/heatmaps
runs/phase-cnn/*
.idea/
data/heatmaps_win100_step25
data/heatmaps_win200_step50
data/heatmaps_win200_step100
data/heatmaps_win400_step200